@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap');
@import "tailwindcss";



:root {
  --color-black: #212121;
  --color-white: #FFF;
  --primary-color: #03045E;
  --primary-second: #002D4B;
  --primary-tree: #0076C4;
  --primary-four: #E40E47;
  --seccondary-one: #FDFDFF;
  --seccondary-second: #F6FAFF;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-sora {
  font-family: 'Sora', sans-serif;
}

.bg-radial-especialidades {
  background: radial-gradient(108.25% 27.71% at 9.3% 99.98%, rgba(0, 140, 194, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(40.87% 66.75% at 96.17% -9.78%, rgba(0, 140, 194, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%), #FDFDFF;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 41% !important;
}